.wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.users {
	flex: 0 1;
}

.main_messages{
	flex: 1 1;
}

.messages {
	display: flex;
	flex-direction: column;
	height: 70vh;
}

.input {
	width: 220px;
	height: 40px;
	margin-right: 1%;
}

.btn {
	height: 40px;
	width: 60px;
	margin-bottom: 20px;
}

.history {
	margin-bottom: 5%;
}