.input_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: flex-start;
}

.form {
	display: flex;
}

.wrapper {
	display: flex;
	justify-content: center;
}
.users {
	flex: 0 1;
	padding-left: 5%;
}

.main_messages{
	display: flex;
	flex-direction: column;
	flex: 1 1;
	padding: 10px;
}

.messages {
	display: flex;
	flex-direction: column;
	height: 50vh;
}

.input {
	width: 220px;
	height: 40px;
	margin-right: 1%;
}

.btn {
	height: 40px;
	width: 60px;
	margin-left: 10px;
}

.history {
	margin-right: 10px;
}